{
    "security.workspace.trust.untrustedFiles": "open",
    "editor.codeActionsOnSave": {
        "source.fixAll.eslint": "explicit"
    },
    "editor.accessibilitySupport": "on",
    "[python]": {
        "editor.formatOnType": true
    },
    "dart.flutterSdkPath": "C:\\flutter\\flutter_windows_3.10.4-stable\\flutter",
    "cmake.configureOnOpen": true,
    "workbench.iconTheme": "symbols",
    "terminal.integrated.env.windows": {},
    "typescript.updateImportsOnFileMove.enabled": "always",

    "workbench.colorTheme": "Min Dark",
    "symbols.hidesExplorerArrows": false,


    "editor.fontFamily": "JetBrains Mono",
    "editor.fontSize": 14,
    "editor.tabSize": 4,
    "editor.lineHeight": 1.6,
    "editor.rulers": [80, 120],
    "editor.renderLineHighlight":"all",
    "editor.fontLigatures": true,
    "workbench.editor.labelFormat": "short",
    "explorer.compactFolders": false,
    "editor.semanticHighlighting.enabled": false,
    "workbench.activityBar.location": "hidden",
    "editor.minimap.enabled": false,
    "editor.scrollbar.horizontal": "hidden",// se pa vou remover isso
    "window.commandCenter": false,
    "workbench.layoutControl.enabled": false,
    "apc.electron": {
        "titleBarStyle": "hiddenInset"
    },
    "apc.font.family": "Poppins",
    "apc.listRow": {
        "height": 24,
        "fontSize": 12
    },
    "apc.stylesheet": {
        ".editor-actions": "display: none;",
    },
    "explorer.fileNesting.enabled": true,
    "explorer.fileNesting.patterns": {
        "package.json": ".eslint*, prettier*, tsconfig*, vite*, pnpm-lock*, bun.lockb, nest*",
        "tailwind.config.js": "tailwind.config*, postcss.config*",
        ".env.local": ".env*",
        ".env": ".env*"
    },

    "terminal.integrated.fontSize": 14,
    "terminal.integrated.fontFamily": "JetBrainsMono Nerd Font",
    "C_Cpp.clang_format_fallbackStyle": "Google",
    "C_Cpp.formatting": "vcFormat",
}
